[ ca ]
default_ca = ROOT_CA

[ ROOT_CA ]
dir             = /manzoloCA
certs           = $dir/certs
crl_dir         = $dir/crl
new_certs_dir   = $dir/newcerts
database        = $dir/index.txt
serial          = $dir/serial
private_key     = $dir/private/root-ca.key.pem
certificate     = $dir/certs/root-ca.crt.pem
default_days    = 3650  # 10 anni
default_md      = sha256
policy          = policy_anything

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits           = 4096
prompt                 = no
default_md             = sha256
distinguished_name     = dn

[ dn ]
C                      = $ENV::C_ROOT
ST                     = $ENV::ST_ROOT
L                      = $ENV::L_ROOT
O                      = $ENV::O_ROOT
OU                     = $ENV::OU_ROOT
CN                     = $ENV::CN_ROOT
emailAddress           = $ENV::EMAIL_ROOT


[ v3_ca ]
basicConstraints = CA:TRUE
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
basicConstraints = CA:TRUE, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign